/* global settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
}

h2,
p,
a {
  font-family: "Kanit", sans-serif;
}

/* header styling */

.header__div>h1 {
  text-align: center;
  margin: 40px 0;
}

.header__div>img {
  width: 50px;
  height: 50px;
}

.header__div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* card styling */

.card {
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.03);
}

.card>h2 {
  font-weight: 500;
  font-size: 1.3rem;
}

.card>p {
  font-weight: 300;
  font-size: 1.05rem;
}

.card>a {
  color: #000;
  font-weight: 300;
  margin-left: auto;
  margin-top: auto;
  text-decoration: none;
  display: flex;
  gap: 8px;
  margin-right: 18px;
}

.card > a > img {
  margin-top: 4px;
}

.cards-container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  row-gap: 40px;
}

.card {
  min-width: 50%;
  max-width: 90%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 30px 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 8px 15px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 4px 8px 15px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 4px 8px 15px 0px rgba(0, 0, 0, 0.08);
}


.card>img {
  width: 90%;
  height: 40%;
  object-fit: cover;
  border-radius: 10px;
  -webkit-box-shadow: 8px 8px 15px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 8px 8px 15px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 8px 8px 15px 0px rgba(0, 0, 0, 0.15);
}

.card>p,
h2 {
  width: 90%;
}

.card:nth-child(4n+1) {
  background-color: #FFF2D7;
}

.card:nth-child(4n+2) {
  background-color: #F2FBFC;
}

.card:nth-child(4n+3) {
  background-color: #FFEFEF;
}

.card:nth-child(4n) {
  background-color: #F2EFE5;
}

/* footer */

.footer__div {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer__div>img {
  margin-top: 40px;
  width: 40px;
  height: 40px;
}

.footer__div>p {
  font-weight: 300;
  font-size: 0.8rem;
  color: #C3C3C3;
  margin: 20px 0;
}

/* Add spacing between chat-container and cards-container */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  min-height: 100vh;
}

#chat-container,
.cards-container {
  width: 80%;
}

/* animations  */

/* underline animation */

.card>a {
  position: relative;
}

.card>a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.30s ease-out;
}

.card>a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* media queries */

@media (max-width: 950px) {
  .cards-container {
    grid-template-columns: 1fr;
    width: 70%;
  }
  .card>h2 {
    font-size: 1.5rem;
  }
  .card>p {
    font-size: 1.2rem;
  }
}